/* 
    Orden de lo estilos
        1. Posicionamiento --> static, absolute, relative, fixed
        2. Modelo de Caja (Box Model) -> margin, border, padding, content
        3. Tipografia -->  tipos, tamaños de fuente, etc
        4. Visuales --> box-shadow, border-radius, gradient, etc
        5. Otros
*/
:root {
    /* COLORES */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    /* TIPOGRAFIA */
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
    /* FONDOS */
    --background:#E5E5E5;
	--linear-gradient:207.8deg, #201E1C 16.69%, #F7931A 100%;
    /* fonts size */
    --font-size-sans-small: 1.4rem;
    --font-size-sans-normal: 1.8rem;
    --font-size-sans-large: 2.4rem;
    --font-size-inter-small: 1.2rem;
    --font-size-inter-normal: 1.6rem;
    /* line height  */
    --line-height-sans-small: 1.8rem;
    --line-height-sans-normal: 2.3rem;
    --line-height-sans-large: 2.6rem;
    --line-height-inter-small: 1.5rem;
    --line-height-inter-normal: 1.9rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: var(--font-sans);
}
a {
    text-decoration: none;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 26.69%, var(--bitcoin-orange) 100%);
    background-size: 400% 400%;
    -webkit-animation: bgAnimateBitcoin 10s ease infinite;
    -moz-animation: bgAnimateBitcoin 10s ease infinite;
    animation: bgAnimateBitcoin 10s ease infinite;
}
@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
header img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
}
.header--title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    
}
.header--title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    top: calc(100% - 24px);
	left: calc(50% - 114.5px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* sombra */
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}
/* MAIN */
main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
/* section 1 */
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* background: url('./assets/img/bitcoin.svg') center/cover no-repeat;
    EN UNA SOLA LINEA */
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
/* tables */
.main-tables-container {
    width: 100%;
    height: auto;
    padding-top: 18px;
    padding-bottom: 65px;
    text-align: center;
}
.main-currency-table,
.main-commission-table {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.currency-table--title,
.commission-table--title {
    width: 166px;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--bitcoin-orange);
    text-align: initial;
}
.currency-table--container,
.commission-table--container{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.currency-table--container table,
.commission-table--container table {
    background-color: var(--just-white);
    border-collapse: collapse;
    border-radius: 8px;
}
td {
    border: 1px solid var(--off-white);
    width: 95px;
    height: 39px;
    padding: 10px 12px;
    font-family: var(--font-inter);
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    text-align: initial;
    letter-spacing: -0.02em;
    color: #B5B0AC;
}
.table-right{
    /* td */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    color: #757575;
}
td .arrow-icon {
    display: inline-block;
    margin-left: 11px;
    margin-bottom: 2px;
    width: 12px;
    height: 7px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    .is-red {
        background-image: url(./assets/icons/trending-down.svg);
    }
    .is-green {
        background-image: url(./assets/icons/trending-up.svg);
    }
.currency-table--date p,
.commission-table--date p {
    margin: 0 auto;
    width: 173px;
    height: 31px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--soft-orange);
    font-size: 1.2rem;
}
    .is-commission--title {
        color: var(--secondary-blue);
    }
    .is-commission--date p {
        background-color: var(--soft-blue);
    }